body {
  font-family: "Poppins", "Fjalla One";
  font-weight: 400, 600;
  font-size: 16px;
}
h4,
h5 {
  font-family: "Fjalla One";
  font-weight: 400;
}
.py-120 {
  padding: 120 0;
}

ul {
  padding: 0;
  margin: 0;
}
/*--  header-section  --*/
.header-section {
  background: #ffffff;
  padding: 33px 0;
}
.header-manu {
  text-align: right;
}
a {
  text-decoration: none;
  display: inline-block;
}
.header-manu ul li {
  list-style: none;
  display: inline-block;
}
.header-manu ul li a {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #555555;
  padding: 20px;
}

@media screen and (max-width: 1199px) {
  .header-manu ul li a {
    padding: 15px;
  }
}

.mobile-btn i {
  font-size: 35px;
  color: #7e3f3f;
}
/*--  header-section  end --*/

/*--  slider-section   --*/
.slider-content h5 {
  font-size: 80px;
  color: #ffffff;
}
.slider-section .carousel-caption {
  max-width: 660px;
}
.slider-section .carousel-caption {
  right: 15%;
  bottom: 50%;
  left: 15%;
  transform: translateY(50%);
}
.slider-content {
  text-align: left;
}
.slider-content h4 {
  font-family: "Fjalla One";
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  line-height: 50px;
  margin: 0;
  padding: 20px 0;
}
.slider-content button {
  font-family: "poppins";
  font-weight: 600;
  font-size: 24px;
  background: #23d7ff;
  color: #ffffff;
  text-align: center;
  padding: 20px 80px;
  border: none;
}

.slider-section .carousel-indicators {
  right: 0;
  z-index: 2;
  position: absolute;
  left: unset;
  margin-left: unset;
  bottom: 50%;
  transform: translateY(50%);
  flex-direction: column;
  gap: 8px;
}
.slider-section .carousel-indicators button {
  width: 10px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background: none;
  height: 25px;
}
.slider-section .carousel-indicators button.active {
  background: #ffffff;
}

@media screen and (max-width: 1000px) {
  .slider-section .carousel-indicators {
    margin-right: 8%;
  }
}
/*--  slider-section  end --*/

/*--  guide-section  --*/
.guide-section {
  background: #ffffff;
  padding: 80px 0;
}

.guide-content h4 {
  font-family: "poppins";
  font-weight: 400;
  font-size: 35px;
  line-height: 70px;
  color: #74418e;
}

.guide-content h5 {
  font-family: "Fjalla One";
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  color: #74418e;
}
.guide-content p {
  max-width: 850px;
  margin: 0 auto;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  padding: 30px 0;
}
.guide-content {
  text-align: center;
}
.guide-btn button {
  width: 200px;
  height: 65px;
  background: #74418e;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
}

/*--  guide-section  end --*/

/*-- terget -section --*/
.terget-section {
  background: #fafafa;
  padding: 120px 0;
}
.terget-title {
  padding-bottom: 80px;
}
.terget-title h5 {
  font-size: 50px;
  line-height: 70px;
  color: #74418e;
  text-align: center;
  border-bottom: 2px solid #cccccc;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 10px;
}
.terget-box {
  position: relative;
}
.terget-content {
  background: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  padding: 10px;
}

.terget-content h4 {
  font-size: 24px;
  color: #555555;
  text-align: center;
}
.terget-content p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 16px;
  color: #888888;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/*-- terget -section end--*/

/*-- services -section --*/
.services-section {
  background: #ffffff;
  padding: 120px 0;
}
.services-title h4 {
  font-size: 50px;
  line-height: 70px;
  color: #74418e;
  padding-bottom: 25px;
}
.services-title p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  padding-bottom: 40px;
}
.services-title h4::after {
  content: "";
  width: 437px;
  height: 2px;
  background: #cccccc;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.services-title {
  text-align: center;
}
.service-box {
  background: #f2f2f2;
  width: 344px;
  height: 450px;
}
.service-content h4 {
  font-size: 24px;
  line-height: 30px;
  color: #555555;
}
.service-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  margin: 0;
  padding-bottom: 10px;
}
.service-content {
  padding: 30px;
}
.service-content button {
  width: 121px;
  height: 40px;
  background: #983fc6;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  border: none;
}
/*-- services -section end--*/

/*-- available -section --*/
.available-section {
  background: #fafafa;
  text-align: center;
  padding: 100px 0;
}
.available-box {
  width: 789px;
  height: 625px;
  color: #cccccc;
  margin: 0 auto;
}
.available-title h4 {
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  color: #74418e;
  padding-bottom: 20px;
}
.available-title h4::after {
  content: "";
  width: 437px;
  height: 2px;
  background: #cccccc;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.available-title p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  padding-bottom: 25px;
}
.available-content p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  color: #555555;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 25px;
}
.available-content button {
  width: 250px;
  height: 65px;
  background: #983fc6;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  border: none;
}
/*-- available -section end--*/

/*-- busienss -section --*/
.busienss-section {
  background: #ffffff;
  padding: 120px 0;
}
.busienss-title h4 {
  font-size: 50px;
  line-height: 70px;
  color: #74418e;
  text-align: center;
  padding-bottom: 70px;
}
.busienss-title h4::after {
  content: "";
  width: 437px;
  height: 2px;
  background: #cccccc;
  display: block;
  margin-top: 15px;
  margin: 0 auto;
}
/*-- busienss -section end--*/

/*-- footer -section --*/
.footer-section {
  background: #983fc6;
  padding: 100px 0;
}
.footer-about p {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}
.footer-about h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.footer-about h4::after {
  content: "";
  width: 270px;
  height: 2px;
  background: #cccccc;
  display: block;
  margin-top: 15px;
}
.social-icon i {
  width: 24px;
  height: 24px;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  border: 1px solid #ffffff;
  background: #661390;
}
.social-icon a {
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
}
.footer-manu h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  line-height: 22px;
}
.footer-manu h4::after {
  content: "";
  width: 270px;
  height: 2px;
  background: #ffffff;
  display: block;
  margin-top: 15px;
}
.footer-btn a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  padding: 10px 0;
  display: block;
}
.footer-content p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-content span {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  display: block;
  padding: 10px 0;
}
/*-- footer -section end--*/

/*--  copyright-section --*/
.copyright-section {
  background: #5a137e;
  padding: 35px 0;
}
.copyright-section p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
/*-- copyright -section end--*/
